<!DOCTYPE html>
<html lang="zh-Hans-CN">
  <head>
    <meta charset="utf-8">
    <title>内容编辑
    </title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="同窗 ToMates">
    <meta name="keywords" content="tomates, ToMates, 同窗, 创业, 兴趣小组, 假新闻, 学习">
    <meta name="author" content="NilCUx">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#343b43" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="./resource/css/editormd.css" />
    <link type="text/css" rel="stylesheet" href="./resource/lib/codemirror/codemirror.min.css">
    <link type="text/css" rel="stylesheet" href="./resource/lib/codemirror/addon/dialog/dialog.css">
    <link type="text/css" rel="stylesheet" href="./resource/lib/codemirror/addon/search/matchesonscrollbar.css">
    <script id="-lib-codemirror-codemirror-min" type="text/javascript" src="./resource/lib/codemirror/codemirror.min.js"></script>
    <script id="-lib-codemirror-modes-min" type="text/javascript" src="./resource/lib/codemirror/modes.min.js"></script>
    <script id="-lib-codemirror-addons-min" type="text/javascript" src="./resource/lib/codemirror/addons.min.js"></script>
    <script id="-lib-marked-min" type="text/javascript" src="./resource/lib/marked.min.js"></script>
    <script id="-lib-prettify-min" type="text/javascript" src="./resource/lib/prettify.min.js"></script>

    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="https://s3.amazonaws.com/noisette.src.static/css/vendor.min.css">
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="https://s3.amazonaws.com/noisette.src.static/css/theme.min.css">
    <!-- Modernizr-->
    <script src="https://s3.amazonaws.com/noisette.src.static/js/modernizr.min.js"></script>
  </head>
  <!-- Body-->
  <body style="display: flex; flex-direction: column;">
  <div style="flex: 1;">
    <!-- Off-Canvas Menu-->
    <div class="offcanvas-container is-triggered offcanvas-container-reverse" id="mobile-menu"><span class="offcanvas-close"><a>ㄨ</a></span>
      <div class="px-4 pb-4">
        <h6>导航</h6>
        <a class="btn btn-secondary btn-sm btn-block" href="http://http://www.tomates.xyz/publish-business/">&nbsp;保存草稿</a>
        <a class="btn btn-primary btn-sm btn-block" href="http://http://www.tomates.xyz/logout/">&nbsp;退出登录</a>
      </div>
      <div class="offcanvas-scrollable-area border-top" style="height:calc(100% - 235px); top: 144px;">
        <!-- Mobile Menu-->
        <div class="accordion mobile-menu" id="accordion-menu">
          <!-- Home-->
          <div class="card">
            <div class="card-header"><a class="mobile-menu-link active" href="www.tomates.xyz">首页</a></div>
          </div>
          <!-- Account-->
          <div class="card">
            <div class="card-header"><a class="mobile-menu-link" href="http://www.tomates.xyz/account/">个人中心</a></div>
          </div>
          <!-- Pages-->
          <div class="card">
            <div class="card-header"><a class="mobile-menu-link" href="http://www.tomates.xyz/about/">关于 ToMates</a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Navbar: Default-->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
    <header class="navbar-wrapper navbar-sticky">
      <div class="d-table-cell align-middle pr-md-3"><a class="navbar-brand mr-1" href="www.tomates.xyz"><img src="https://s3.amazonaws.com/noisette.src.static/img/logo/logo-dark.png" alt="CreateX"/></a></div>
      <div class="d-table-cell w-100 align-middle pl-md-3">
        
        <div class="navbar justify-content-end justify-content-lg-between">
          <!-- Search-->
          <form class="search-box" method="get">
            <input type="text" id="site-search" placeholder="Type A or C to see suggestions"><span class="search-close"><a>ㄨ</a></span>
          </form>
          <!-- Main Menu-->
          <ul class="navbar-nav d-none d-lg-block">
              <!-- 首页-->
              <li class="nav-item"><a class="nav-link" href="www.tomates.xyz">首页</a>
              </li>
              <!-- 个人中心-->
              <li class="nav-item "><a class="nav-link" href="http://www.tomates.xyz/account/">个人中心</a>
              </li>
              <!-- 关于页-->
              <li class="nav-item"><a class="nav-link" href="http://www.tomates.xyz/about/">关于 ToMates</a></li>
          </ul>
          <div>
            <ul class="navbar-buttons d-inline-block align-middle mr-lg-2">
              <li class="d-block d-lg-none"><a href="#mobile-menu" data-toggle="offcanvas">≡</a></li>
            </ul>
            <a class="btn btn-gradient ml-3 d-none d-xl-inline-block" href="http://www.tomates.xyz/logout/" target="_self">退出登录</a>
          </div>
        </div>
      </div>
    </header>
    <!-- Page Title-->
    <div class="page-title d-flex" aria-label="Page title" style="background-image: url(https://s3.amazonaws.com/noisette.src.static/img/page-title/blog-pattern.jpg);">
      <div class="container text-left align-self-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="http://www.tomates.xyz/">Home</a>
            </li>
            <li class="breadcrumb-item"><a>Blog Editor</a>
            </li>
          </ol>
        </nav>
        <h4 class="page-title-heading"> <%- category %></h4>
        <div class="page-title-subheading"><%- slogan %></div>
      </div>
    </div>
    <!-- Page Content-->
    <div class="container pb-5 mb-3" style="height: fit-content;">
     <form id="editorBody">
      <link rel="stylesheet" href="./resource/editormd.css" />
      <div id="markdownEditor">
          <textarea style="display:none; height:fit-content;">### 感谢开源项目 Editor.md
此处你所使用的文本编辑器是： **Editor.md**
它是一款开源的、可嵌入的 Markdown 在线编辑器（组件），基于 CodeMirror、jQuery 和 Marked 构建。</textarea>
      </div>
      <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
      <script src="./resource/editormd.min.js"></script>
      <script type="text/javascript">
          $(function() {
              var editor = editormd("markdownEditor", {
                  width   : "90%",
                  height  : 640,
                  syncScrolling : "single",
                  path   : "./resource/lib/",
                  toolbarIcons:"simpleWithoutFullScreen"
              });
          });
      </script>

<div class="col-xs-12 col-sm-6 text-right">
  <button class="btn btn-default btn-success" type="button" onclick="publish()">发布</button>
</div>

      </form> 
    </div>
  </div>
  <!-- Footer-->
  <footer class="bg-dark">
    <div class="container pt-3 text-center">
      <div class="d-md-flex justify-content-between align-items-center py-4 text-center text-md-left">
        <p class="m-0 text-sm text-white order-1"><span class='opacity-60'>© All rights reserved. Proudly</span> <b class='d-inline-block align-middle text-danger'>&#10084</b> <a  class='d-inline-block nav-link text-white opacity-60 p-0' target='_blank'>by NilCux.</a></p>
      </div>
    </div>
  </footer>
  <!-- Back To Top Button--><a class="scroll-to-top-btn" href="#"><b class=""> ^ </b></a>
  
  <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
  <script src="https://s3.amazonaws.com/noisette.src.static/js/vendor.min.js"></script>
  <script src="https://s3.amazonaws.com/noisette.src.static/js/theme.min.js"></script>
  <script src="./resource/editormd.min.js"></script>
  </body>
  </html>
